<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Mencari daftar restaurant" />
    <meta name="theme-color" content="#eaeaea" />

    <link rel="icon" href="./images/dicoding-icon.png" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restoran DICODING</title>
  </head>
  <body>
    <a href="#content" class="skip-link"> Skip To Content</a>
    <!-- NAVIGASI BAR -->

    <nav class="navbar">
      <div class="logo">
        <a href="index.html">Rizal</a>
      </div>

      <div class="nav-list">
        <div class="menu-toggle">
          <button class="toggle">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <ul class="nav-items menudrop">
          <li class="nav-item"><a href="index.html">Beranda</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item"><a href="https://github.com/MuammarRizal31">About Us</a></li>
        </ul>
      </div>
    </nav>

    <!-- jumbotron -->
    <header>
      <div class="jumbotron">
        <div class="hero-section">
          <h2>Selamat Datang Di Situs Kulineran</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis accusantium blanditiis libero earum mollitia magni inventore numquam recusandae non vero.</p>
        </div>
      </div>
    </header>

    <!-- card -->
    <main id="mainContent"></main>

    <!-- footer -->
    <footer>Muammar Rizal &copy; 2023 - Restaurant Apps</footer>
  </body>
</html>
